@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.ant-table-content{
  font-size: 12px !important;
}

.ant-table-thead{
  font-size: 14px !important;
}

.ant-select-selector{
	background-color: #f9fafb !important;
    border: none !important;
    padding: 10px !important;
}

.single .ant-select-selector{
	background-color: #f9fafb !important;
    border: none !important;
    padding: 23px 10px !important;
}

.single .ant-select-arrow{
	margin-top: 3px !important;
}

.single.ant-picker{
	padding: 11px !important;
	border: none !important;
	background-color: #f9fafb !important;
}

.ant-form-item-label{
	font-weight: 500 !important;
}

.ant-form-item-no-colon{
	margin-right:20px !important
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media print {
	body {
		margin: 0 !important;
	}
}

.main-container {
	--ckeditor5-preview-height: 700px;
	font-family: 'Lato';
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.ck-content {
	font-family: 'Lato';
	line-height: 1.6;
	word-break: break-word;
}

.editor-container__editor-wrapper {
	display: flex;
	width: fit-content;
}

.editor-container_document-editor {
	border: 1px solid var(--ck-color-base-border);
}

.editor-container_document-editor .editor-container__toolbar {
	display: flex;
	position: relative;
	box-shadow: 0 2px 3px hsla(0, 0%, 0%, 0.078);
}

.editor-container_document-editor .editor-container__toolbar > .ck.ck-toolbar {
	flex-grow: 1;
	width: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

.editor-container_document-editor .editor-container__editor-wrapper {
	max-height: var(--ckeditor5-preview-height);
	min-height: var(--ckeditor5-preview-height);
	overflow-y: scroll;
	background: var(--ck-color-base-foreground);
}

.editor-container_document-editor .editor-container__editor {
	margin-top: 28px;
	margin-bottom: 28px;
	height: 100%;
}

.editor-container_document-editor .editor-container__editor .ck.ck-editor__editable {
	box-sizing: border-box;
	min-width: calc(210mm + 2px);
	max-width: calc(210mm + 2px);
	min-height: 297mm;
	height: fit-content;
	padding: 20mm 12mm;
	border: 1px hsl(0, 0%, 82.7%) solid;
	background: hsl(0, 0%, 100%);
	box-shadow: 0 2px 3px hsla(0, 0%, 0%, 0.078);
	flex: 1 1 auto;
	margin-left: 72px;
	margin-right: 72px;
}

.ant-popconfirm-buttons button{
	color:black !important;
	border:1px solid black !important;
}

.select-filter .ant-select-selector{
	background: rgb(243 244 246 / 1) !important;
	padding: 22px !important;
}

.select-filter .ant-select-selection-placeholder{
	font-weight:400 !important;
	color: black !important;
}
.select-filter {
	position: relative !important;
	top:-11px !important;
}

.select-filter .ant-select-arrow{
	margin-top: 1px !important;
}

@media (min-width: 768px) {
  .disnone .ant-col:nth-child(1){
    display: none !important;
  }
}
